<div class="classcontainer">

  <div class="post">

    <div class="post__form">
      <h6 class="post__header">Create Post</h6>

      <div class="post__box">
        <img onerror="this.onerror=null;this.src='assets/profile.jpg';" appLazyLoad
          [src]="_ds.imageURL + _user.getProfilePic()" alt="" class="post__imgform" draggable="false"
          onerror="this.onerror=null; this.src='assets/profile.jpg'">

        <mat-form-field class="example-full-width" [floatLabel]="'never'">
          <mat-label>Write something...</mat-label>
          <textarea [(ngModel)]="textcontent" matInput></textarea>
        </mat-form-field>
      </div>

      <div class="post__action">
        <div fxLayout="row" fxLayoutGap="10px">
          <div class="post__iconcontain">
            <ng-container *ngIf="photoButton == true">
              <button class="post__buttons" [disabled]="photoButton">
                <mat-icon style="color: #7a7a7a">add_photo_alternate </mat-icon>
              </button>
            </ng-container>
            <ng-container *ngIf="photoButton == false">
              <button class="post__buttons" [disabled]="photoButton" (click)="uploadphoto.click()">
                <mat-icon style="color: #1f6499">add_photo_alternate </mat-icon>
              </button>
            </ng-container>
          </div>
          <div class="post__iconcontain">
            <ng-container *ngIf="videoButton == true">
              <button class="post__buttons" [disabled]="videoButton">
                <mat-icon style="color: #7a7a7a">video_call </mat-icon>
              </button>
            </ng-container>
            <ng-container *ngIf="videoButton == false">
              <button class="post__buttons" [disabled]="videoButton" (click)="uploadvideo.click()">
                <mat-icon style="color: #b34e01">video_call </mat-icon>
              </button>
            </ng-container>
          </div>
          <div class="post__iconcontain">
            <ng-container *ngIf="fileButton == true">
              <button class="post__buttons" [disabled]="fileButton">
                <mat-icon style="color: #7a7a7a">attach_file </mat-icon>
              </button>
            </ng-container>
            <ng-container *ngIf="fileButton == false">
              <button class="post__buttons" [disabled]="fileButton" (click)="uploadfile.click()">
                <mat-icon style="color: #b3a701">attach_file </mat-icon>
              </button>
            </ng-container>
          </div>
          <!-- Inputs for medias start -->
          <input type="file" style="display: none;" #uploadfile (change)="getFile($event)" id="files" name="file[]"
            multiple [accept]="acceptedFiles">
          <input type="file" style="display: none;" #uploadvideo (change)="getFile($event)" id="files" name="file[]"
            multiple accept="video/*">
          <input type="file" style="display: none;" #uploadphoto (change)="getFile($event)" id="files" name="file[]"
            multiple accept="image/*">
          <!-- Input for medias end -->
        </div>
        <div *ngIf="_user.isLoading()" class="spinner-border spinner-border-sm" role="status"></div>
        <button mat-raised-button *ngIf="!_user.isLoading()" [disabled]="textcontent == '' && files.length <= 0" class="btn-default" (click)="submitPost()">Post</button>
      </div>

      <div class="post__formcontent" *ngIf="files != 0">
        <div class="filelist" *ngFor="let item of files; let i = index">
          <li class="filelist__content">
            <div class="filelist__name">
              <div class="filelist__icon">
                <mat-icon>description</mat-icon>
                <span [ngStyle]="{'background-color': getFileExtension( uploadservice.getfileExt( item.name ) )}">{{
                  getfileExt( item.name ) | uppercase }}</span>
              </div>
              <p>{{ item.name }}</p>
            </div>

            <div class="filelist__action">
              <button class="filelist__btn" *ngIf="!_user.isLoading()" mat-icon-button (click)="removeFile(i)">
                <mat-icon style="cursor: pointer; color: crimson;">cancel</mat-icon>
              </button>
            </div>
          </li>
        </div>
      </div>


    </div>

    <hr>

    <div class="content" *ngFor="let post of pageslice; let i = index">
      <div class="content__header">

        <div class="content__user">
          <img onerror="this.onerror=null;this.src='assets/profile.jpg';" appLazyLoad
            [src]="_ds.imageURL + post.profilepic_fld" alt="" class="img" draggable="false"
            onerror="this.onerror=null; this.src='assets/profile.jpg'">


          <div class="content__sender">
            <p class="m-0" style="font-weight: 500;">{{post.fullname_fld}}</p>
            <small class="text-muted ">
              {{_upload.getElapsedTime(post.datetime_fld)}} {{ post.ispinned_fld > 0?'📌':'' }}
              <!-- {{post.datetime_fld | date: 'MMMM d, y h:mm a'}} -->
            </small>
          </div>
        </div>


        <button *ngIf="post.authorid_fld === _user.getUserID()" mat-icon-button [matMenuTriggerFor]="del"
          aria-label="button menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #del="matMenu">
          <button mat-menu-item class="nooutline" (click)="editPost(i,post.postcode_fld ,post , 'editpost')">
            <span>Edit</span>
          </button>
          <button mat-menu-item class="nooutline" (click)="delpost(i,post.postcode_fld , 'post')">
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>

      <ng-container *ngIf="post.video_fld != null">
        <div class="video-container" *ngFor="let item of post.video_fld">
          <iframe class="responsive-iframe" loading="lazy" [src]="item"></iframe><br>
        </div>
      </ng-container>

      <p class="content__text" [innerHtml]=" post.content_fld.split('($)')[0] | linkify"> </p>

      <!-- Display Files Start -->
      <div class="others" *ngIf="post.withfile_fld > 0">

        <!--#### DISPLAY IMAGE ####-->
        <div *ngIf="post.images_fld != []" class="image_grid ps-2">
          <img *ngFor="let post of post.images_fld" class="images" [src]="post.link" alt="" width="auto">
        </div>
        <!--#### END DISPLAY IMAGE ####-->

        <!--#### DISPLAY FILE ####-->
        <ng-container *ngIf="post.attachment_fld != []">
          <div class="list" *ngFor="let post of post.attachment_fld">
            <li class="list__content" style="padding: .2em 1.2em;">
              <div class="list__name">
                <div class="list__icon">
                  <mat-icon>description</mat-icon>
                  <span class="font-size: var(--sm-font-size)" [ngStyle]="{'background-color': getFileExtension( uploadservice.getfileExt( post.name ) )}">{{
                    getfileExt( post.name ) | uppercase }}</span>
                </div>
                <p>{{ post.name }}</p>
              </div>

              <div class="list__action">

                <button mat-icon-button class="list__btn"
                  *ngIf="_user.getext(post.name) == 'docx' || _user.getext(post.name) == 'pptx' || _user.getext(post.name) == 'xlsx'"
                  (click)="previewResource(post.link, post.name)">
                  <mat-icon style="cursor: pointer;"> pageview</mat-icon>
                </button>

                <button mat-icon-button class="list__btn" (click)="_ds.downloadFile(post.path, post.name)">
                  <mat-icon style="color: #0166b3;">download</mat-icon>
                </button>
              </div>
            </li>
          </div>
        </ng-container>
        <!--#### END DISPLAY FILE ####-->

        <!--#### DISPLAY VIDEOS ####-->
        <div *ngIf="post.uploadvideo_fld != []">
          <ng-container *ngFor="let post of post.uploadvideo_fld">
            <video width="99%" height="100%" controls>
              <source [src]="post.link" type="video/mp4">
            </video>
          </ng-container>
        </div>
        <!--#### END DISPLAY VIDEOS ####-->

        <!--#### DISPLAY POLL ####-->
        <ng-container *ngIf="post.withfile_fld > 2">
          <div class="poll">
            <mat-radio-group aria-label="Select an option">
              <div *ngFor="let opt of post.pollresponse_fld; let j = index">
                <div class="poll__content">
                  <mat-radio-button class="option" [disabled]="post.withfile_fld == 4" (change)="setAnswers(post,j ,i)" [checked]="opt.userpollvoted"
                    [value]="opt">{{ opt.choice }} </mat-radio-button>
                  <span style="flex: 1 1 auto"></span>
                  <span style="float:right" class="votes"> {{ opt.votes }} vote{{ opt.votes>1?'s':'' }}</span>
                </div>
              </div>
            </mat-radio-group>
          </div>
        </ng-container>

        <!-- <ng-container *ngIf="post.withfile_fld == 4">
          <div class="poll">
            <mat-radio-group aria-label="Select an option">
              <div *ngFor="let opt of post.poll_fld">
                <div class="poll__content">
                  <mat-radio-button class="option" [disabled]="true" class="example-radio-button" [value]="opt">{{
                    opt.choice }} </mat-radio-button>
                  <span style="flex: 1 1 auto"></span>
                  <span style="float: right;"> {{opt.votes }} vote{{ opt.votes>1?'s':'' }}</span>
                </div>
              </div>
            </mat-radio-group>
          </div>
        </ng-container> -->
        <!--#### END OF DISPLAY POLL ####-->
      </div>
      <!-- Display Files End -->
      <div class="others__comments">
        <button (click)="openComments(post.postcode_fld,post.commentcount,i)">
          <mat-icon style="margin-right: 10px;">chat</mat-icon><small> {{post.commentcount == 1 ? post.commentcount + '
            comment' : post.commentcount > 1 ? post.commentcount + ' comments' : ' No comment yet'}}</small>
        </button>
      </div>
    </div>
  </div>

  <div class="materials">
    <!--############  ACTIVITIES AND QUIZ ##################-->
    <h5>List of Activities</h5>
    <hr>
    <ng-container *ngIf="activities.length == 0">
      <div class="text-center">
        <span style="font-weight: 600">No activities/exams posted! 🥱</span>
      </div>
    </ng-container>


    <ng-container *ngIf="activities.length != 0">
      <div class="activity" *ngFor="let acts of activities; let i = index">
        <!-- Open Quiz -->
        <ng-container *ngIf="acts.openQuiz == true">
          <div class="activity__content" [routerLink]="['./', acts.actcode_fld]" >
            <span class="activity__line"></span>
            <div class="activity__icon">
              <ng-container *ngIf="acts.type_fld == 0">
                <mat-icon class="activity__legend" style="color: #2ecc71;">assignments</mat-icon>
              </ng-container>
              <ng-container *ngIf="acts.type_fld == 1">
                <mat-icon class="activity__legend" style="color: #e67e22;">quiz</mat-icon>
              </ng-container>
            </div>
            <div class="activity__details">
              <div class="activity__info">
                <strong style=" color: var(--clr-neutral);">{{acts.title_fld | titlecase
                  }}  </strong>
                <p style="margin-top: .5em;">Due Date: {{ acts.deadline_fld | date : 'MMM dd, yyyy h:mm a' }}</p>
              </div>
  
              <div class="activity__score">
                <a>{{acts.totalscore_fld}} Points</a>
              </div>
            </div>
          </div>
        </ng-container>
        <!-- Closed Quiz -->
        <ng-container *ngIf="acts.openQuiz == false">
          <div class="activity__content">
            <span class="activity__line"></span>
            <div class="activity__icon">
              <ng-container *ngIf="acts.type_fld == 0">
                <mat-icon class="activity__legend" style="color: #2ecc71;">assignments</mat-icon>
              </ng-container>
              <ng-container *ngIf="acts.type_fld == 1">
                <mat-icon class="activity__legend" style="color: #7a7a7a;">quiz</mat-icon>
              </ng-container>
            </div>
            <div class="activity__details">
              <div class="activity__info">
                <strong style="font-size: initial; color: var(--clr-neutral);">{{acts.title_fld | titlecase
                  }} </strong>
                  <p>Date to open: {{ acts.datesched_fld | date: 'MMM dd, yyyy h:mm a'}}</p> 
                  <p style="margin-top: .5em;">Due Date: {{ acts.deadline_fld | date : 'MMM dd, yyyy h:mm a' }}</p>
              </div>
  
              <div class="activity__score">
                <a>{{acts.totalscore_fld}} Points</a>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>


    <h5>Resources</h5>
    <hr>
    <ng-container *ngIf="resources.length == 0">
      <div class="text-center">
        <span style="font-weight: 600">No resources posted! 🧐</span>
      </div>
    </ng-container>



    <mat-expansion-panel class="mat-elevation-z0" style="margin-bottom: 1em;" *ngFor="let item of resources">
      <mat-expansion-panel-header style="padding: 0 .5em;" [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
        <div class="resources">
          <mat-icon class="resources__legend">book</mat-icon>
          <div class="resources__header">
            <strong>{{item.title_fld}} </strong>
            <p>Date Posted: {{item.datetime_fld | date: "MMMM d, y h:mm a"}}</p>
          </div>
        </div>
      </mat-expansion-panel-header>
      <div class="list" *ngFor="let file of _upload.splitFilestring(item.filedir_fld)">
        <li class="list__content">
          <div class="list__name">
            <div class="list__icon">
              <mat-icon>description</mat-icon>
              <span [ngStyle]="{'background-color': getFileExtension( uploadservice.getfileExt( file.name ) )}">{{
                getfileExt( file.name ) | uppercase }}</span>
            </div>
            <p>{{file.name}}</p>
          </div>

          <div class="list__action">

            <!-- <button class="list__btn" > -->
            <mat-icon style="cursor: pointer;"
              *ngIf="_user.getext(file.name) == 'docx' || _user.getext(file.name) == 'pptx' || _user.getext(file.name) == 'xlsx' || _user.getext(file.name) == 'pdf' || _user.getext(file.name) == 'txt' || _user.getext(file.name) == 'csv' || _user.getext(file.name) == 'jpg' || _user.getext(file.name) == 'jpeg' || _user.getext(file.name) == 'png'"
              (click)="previewResource(file.link, file.name)"> pageview</mat-icon>
            <!-- </button> -->

            <!-- <button class="list__btn" > -->
            <mat-icon style="color: #0166b3;" (click)="_ds.downloadFile(file.path, file.name)">download</mat-icon>
            <!-- </button> -->
          </div>
        </li>
      </div>
    </mat-expansion-panel>
  </div>
</div>
