@import "src/app/scss/__mixin.scss";


.lamp-container {
  width: 100%;
  max-width: 100%;
  background-color: #F0F2F5;
}

.sidenav-container { 
  max-height: 100%;
  height: 100vh;
}

.sidenav {
  width: 130px;
  background: var(--clr-primary);
  border-radius: 0px 15px 15px 0px;
  // padding: 1.2em 0;
}

.circle{
  @include flex(row, center, flex-start);
  height: 100px;
  position: relative;
  cursor: pointer;
  transform: scale(.8);

  mat-progress-spinner{
    position: absolute;
    background: rgba(0,0,0,0.4);
    border-radius: 50%;
    z-index: 0;
  }

  img{
    max-width: 100%;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    margin-top: 6px;
    // border: 5px solid  rgba(0,0,0,0.4);
    position: relative;
    z-index: 0;
  }
  .scores{
    position: absolute;
    bottom: 0;
    right: 25%;
    z-index: 1;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 50%;
    // background-image: linear-gradient(90deg, rgb(54, 181, 183) 0%,rgb(19, 126, 105) 100%);
    background: #00b4db; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00b4db, #0083b0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00b4db, #0083b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // border: 2px solid #87c5f5;
    border: 2px solid #fff;
    font-weight: 600;
    color: #fff;
  }
}

.nameinfo{
  cursor: pointer;
  text-align: center;
  color: #fff;
  line-height: 1.2;
  padding: 0 5px;
  // margin-top: .5em;
  p{ 
    font-weight: 600;  
    color: #daebf8; 
    font-size: .8rem;
  }
  small{ 
    color: #b6dcfa; 
    font-size: .7rem;
  }

  &:hover{
    p{
      text-decoration: underline;
    }
  }
}

.lines{
  width: 80%;
  height: 1px;
  margin: 10px auto;  
  background: var(--clr-white);
  opacity: .5;
}

.list{
  @include flex(row, flex-start, center);
  width: 100%;
  padding: .7em;
  // padding: 1em

  color: #fff;
  cursor: pointer;
  transition: ease .3s;
  

  &__circle{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    // background: rgba(0,0,0,0.2);
    margin: 2px 10px 0 2px;
    border-radius: .2em;
  }

  span{
    font-size: .8rem;
  }

  &:hover{
    background: rgba(0,0,0,0.3);
    color: #fff;
  }
}

.is-active{
  background: rgba(0,0,0,0.3);
  color: #fff;
  span{
    font-weight: 600;
  }
}

mat-toolbar{
  background: var(--clr-white);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  height: 10vh;
  max-height: 10vh;
  position: sticky;
  top: 0;
  z-index: 10;
}

.gc-container{
  height: 90vh;
  background: var(--clr-bg);
  background: #f5f5f5;
  overflow: auto;
}

.clock{
   @include flex(row, center,center);
   border-radius: 25px;
   color: rgb(131, 128, 128);

   p{
     font-size: var(--sm-font-size);
     margin: 0;
     margin-left: 10px;
   }

   &__img{
     max-width: 100%;
     height: 20px;
   }
}

.header-btn{
  position: relative;
  background: #f5f5f5;
  z-index: 0;
  .count{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: crimson;
    color: #fff;
    z-index: 1;
    font-size: .7rem;
    top:0;
    left: 70%;
  }
}

.slide{
  margin-right: 10px;
}

.logout{
  @include flex(row,center,center);
  position: absolute;
  width: 100%;
  bottom: 1.5em;
  cursor: pointer;

  

  &__circle{
    @include flex(row,center,center);
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,0.4);
    color: #fff;
    &:hover{
      background: rgba(0,0,0,0.6);
    }
  }
}


.dropdown-menu{ 
  width: 22rem;
}

.read{
  width: 2%;
  height: 20px;
  background: var(--clr-primary);
  opacity: .7;
  border-radius: 25px;
}

.notification-header{
  padding: 5px 0;
  display: block;
  border-bottom: 1px solid #f5f5f5;
  text-align: center;
}

.notification-body{
  max-height: 70vh;
  cursor: pointer;
  overflow-y: scroll;
}

.notification-body::-webkit-scrollbar {
  width: 1px; height: 1px; 
}

.noti-content{
  display: flex;
  align-items: center;
  padding: 10px 15px;
  -webkit-overflow-scrolling: touch;
 .img-container{ img{ width: 45px; border-radius: 50%;} }
 .info{
    position: relative;
    margin-left: 10px;
    font-size: .9rem;
    line-height: 22px;
    p{ margin: 2px 0 0 0; font-weight: 500; white-space: normal;}
 }
}
.noti-content:hover{ background: var(--background-default); }




@media screen and(min-width: 768px) {
  .clock{
    p{
      font-size: .9rem;
    }
 
    &__img{
      height: 25px;
    }
 }
}

@media screen and(min-width: 1000px) {
    // .gc-container{
    //     height: 92vh;
    // }
}


@media screen and(min-width: 1400px) {

  mat-toolbar{
    height: 8vh;   
  }
  .gc-container{
    height: 92vh;
  }
}

@media screen and(min-width: 1600px) {
   .list{
     padding: 1em;
     span{
       font-size: var(--sm-font-size);
     }
   }

   .nameinfo{
    margin-top: .5em;
    p{ 
      font-size: .9rem;
    }
   }

   .sidenav {
    width: 150px;
    padding: 1.2em 0;
   }

   .circle{
    transform: scale(1);
   }
}



