<div class="main__container">
    <div #shareAndMembersContainer class="shareandmembers__container">
        <div #videoElementContainer class="sharescreen__container">
            <video #videoElement muted></video>
        </div>
        <div #videoTilesElementContainer class="chat-members">
            <div class="participant-tile">
                <div #participantTilesElementContainer class="participant-tile__video">
                <app-video-player
                    *ngIf="localStream"
                    [mode]="'owner'"
                    [stream]="localStream"
                    [userPeerId]="null">
                </app-video-player>
                <app-video-player
                    *ngFor="let user of joinedUsers"
                    [stream]="user.stream"
                    [userPeerId]="user.peerId"
                    [participants]="participants">
                </app-video-player>
                <!-- <app-video-player
                    *ngFor="let user of joinedUsers | paginate: { itemsPerPage: itp, currentPage: p }"
                    [stream]="user.stream"
                    [userPeerId]="user.peerId"
                    [participants]="participants">
                </app-video-player> -->
                </div>
            </div>
        </div>
    </div>
    <div class="buttons__container">
        <button mat-icon-button>
            <mat-icon>mic</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>videocam</mat-icon>
        </button>
        <button mat-icon-button class="danger--btn" (click)="endCall()">
            <mat-icon>call_end</mat-icon>
        </button>
        <button mat-icon-button (click)="callSettingsDialog()">
            <mat-icon>settings</mat-icon>
        </button>
    </div>
</div>