<div class="main__container">
    <div class="videotiles__container">
        <div class="videotile">
            <video src="assets/images/Sample 4by3 video.mp4" autoplay loop></video>
        </div> 
        <div class="videotile">
            <video src="assets/images/Sample 4by3 video.mp4"></video>
        </div> 
    </div>
    <div class="buttons__container">
        <button mat-icon-button>
            <mat-icon>mic</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>videocam</mat-icon>
        </button>
        <button mat-icon-button class="danger--btn">
            <mat-icon>call_end</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>settings</mat-icon>
        </button>
    </div>
</div>