.participant__tile--video {
  background-color: #dbdcdd;
  border-radius: 10px;
  aspect-ratio: 16 / 9;
  position: relative;
  video {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
  }
  p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: clamp(10px, 2.5vw, 14px);
    color: #FFF;
  }
}