<!-- <div class="main__container">
    <div class="illustration__container">
        <img src="assets/images/group-illustration-flat.svg" alt="Flat group illustration" loading="lazy">
    </div>
    <div class="main__container--header">
        <p>Welcome to Groups!</p>
        <p>A whole new way of interacting with everyone in your class.</p>
        <p>It seems that you have not yet created a group for your class, get started by clicking on the button below.</p>
        <button mat-flat-button>Create A Group</button>
    </div>
</div> -->

<div class="main__container">
    <div class="groups__container">
      <div class="groups__container--header">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Search for a group...</mat-label>
          <input [(ngModel)]="searchInput" (keyup)="search()" matInput type="text" />
        </mat-form-field>
      </div>
      <!-- Show this illustration if there are no groups listed yet -->
      <div class="empty__container" #emptyContainerElement>
        <div class="empty__illustration--container">
          <img src="../../../assets/images/empty-groupslist-illustration-grayscale.svg" alt="Point to the right illustration" loading="lazy">
        </div>
        <p>Once you've created a new group under this class, you'll see it listed here.</p>
      </div>
      <!-- End of Show this illustration if there are no groups listed yet-->
      <div
        class="groups__container--group"
        *ngFor="let group of grouparray; let i = index"
        [class.active]="group === groupNameisActive"
        (click)="openGroupChat(group, i)"
      >
        <!-- <div class="groups__container--group" *ngFor="let group of grouparray" (click)="openGroupChat()"> -->
        <!-- <div class="groupsicon__container">
          <img src="../../../assets/images/groups-icon.png" alt="Groups icon" />
        </div> -->
        <div class="groupsicon__container">
            <img src="assets/images/groups-icon.png" alt="Groups icon">
        </div>
        <div class="groups__container--groupdetails">
            <p>{{ group.groupname_fld }}</p>
            <p>Date Created: {{ group.createdate_fld | date: 'MMM dd, yyyy h:mm a' }}</p>
        </div>
      </div>
    </div>
    <div class="groupmessages__container">
      <div class="groupmessages__container--content" #greetingsElement>
        <span class="groupmessages__back-button" (click)="onBackButton()"
          ><mat-icon>keyboard_backspace</mat-icon></span
        >
        <ng-container *ngIf="grouparray && selectedRoom == ''">
          <div class="illustration__container">
            <img
              src="assets/images/group-illustration-flat.svg"
              alt="Flat group illustration"
              loading="lazy"
            />
          </div>
          <div class="main__container--header">
            <p>Welcome to Groups!</p>
            <p>A whole new way of interacting with everyone in your class.</p>
            <p>
              It seems that you have not yet created a group for your class, get
              started by clicking on the button below.
            </p>
          </div>
        </ng-container>
      </div>
      <div class="noselectedconversation__container" #noSelectedConversationElement>
        <div class="illustration__container">
          <img
            src="assets/images/select-conversation-illustration.svg"
            alt="No selected conversation illustration"
            loading="lazy"
          />
        </div>
        <p>Select a conversation in your group's list from the left to see messages in that group or Send the first message yourself.</p>
      </div>
      <ng-container *ngIf="selectedRoom != ''">
        <header class="chat__container--header">
          <strong>{{ selectedRoom['groupname_fld'] }}</strong>
          <span class="spacer"></span>
          <button matTooltip="Start a voice call" mat-icon-button (click)="call()">
            <mat-icon>call</mat-icon>
          </button>
          <button matTooltip="Start a video call" mat-icon-button (click)="videocall()">
            <mat-icon>videocam</mat-icon>
          </button>
          <button
            matTooltip="See members"
            mat-icon-button
            (click)="seegroupMembers()"
            *ngIf="!showGroupMembers"
          >
            <mat-icon>group</mat-icon>
          </button>
          <button
            matTooltip="Back to Chat"
            mat-icon-button
            (click)="backToChat()"
            *ngIf="showGroupMembers === true"
          >
            <mat-icon>forum</mat-icon>
          </button>
        </header>
        <ng-container *ngIf="showGroupMembers === true">
          <div class="maingroupmembers__container">
            <div class="groupmembers__container">
              
              <div class="groupmembers__container--body" *ngFor="let person of instructor">
                <div class="groupmemberimage__container" >
                  <!-- <img [src]="group.src" alt="" /> -->
                </div>
                <div class="groupmember__details">
                  <span>{{person.lname_fld}}, {{person.fname_fld}}</span>
                  <div class="groupmember__studid">
                    <span>{{person.dept_fld}} Department</span>
                  </div>
                </div>
              </div>
              <div class="groupmembers__container--body" *ngFor="let student of groupChatMembers; let i = index">
                <div class="groupmemberimage__container" >
                  <!-- <img [src]="group.src" alt="" /> -->
                </div>
                <div class="groupmember__details">
                  <span>{{student.lname_fld}}, {{student.mname_fld}} </span>
                  <div class="groupmember__studid">
                    <span>{{student.studnum_fld}}@gordoncollege.edu.ph</span>
                  </div>
                </div>
              </div>

              
            </div>
          </div>
        </ng-container>
  
        <ng-container *ngIf="!showGroupMembers">
          <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
          <div class="mainmessage__container" #scrollTarget>
            <div
              class="messagecontent__container"
              *ngFor="let chat of chats; index as i"
              [id]="i"
              [ngClass]="chat.sender_fld === myid ? 'my-message' : 'cor-message'"
              id="scrollDemo"
            >
              <div class="imageAvatarLeft" *ngIf="chat.sender_fld !== myId">
                <div class="imageAvatarBottom">
                  <div class="avatar">
                    <!-- <img [src]="chat.img" alt=""> -->
                  </div>
                </div>
                <div>
                  <div class="chatcontent__container">
                    <div class="personsname__container">
                      <span>{{ chat.sendername_fld }}</span>
                      <span> {{ chat.datetime_fld | date: 'MMM dd, yyyy h:mm a' }} </span>
                    </div>
                    <div class="chatDiv">
                      <p>{{ chat.content_fld }}</p>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="imageAvatarRight" *ngIf="chat.sender_fld === myId">
                <div class="chatcontent__container">
                  <div class="personsname__container1">
                    <span>You</span> <br>
                    <span class="chat__datetime"> {{ chat.datetime_fld | date: 'MMM dd, yyyy h:mm a' }} </span>
                  </div>
                  <div class="chatDivReply">
                    <p>{{ chat.content_fld }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <form [formGroup]="groupMessage">
            <div class="yourmessage__container">
                
              <input formControlName="messageContent" matInput type="text" placeholder="Send a message..." />
          
              <button type="submit" matSuffix mat-icon-button matTooltip="Send" (keyup.enter)="addMessage(groupMessage.value.messageContent)" (click)="addMessage(groupMessage.value.messageContent)">
                <mat-icon>send</mat-icon>
              </button>

              <!-- <button matSuffix mat-icon-button matTooltip="Attach file" type="button">
                <mat-icon>attach_file</mat-icon>
              </button> -->

            </div>
            <!-- <div class="yourmessage__box">
              
            </div> -->
          </form>
        </ng-container>
      </ng-container>
  </div>
  