@import "src/app/scss/__mixin.scss";

header{
  @include flex(row, space-between, center);
  padding: 1em;
  max-height: 10vh;

  h6{
    margin: 0;
  }
}

hr{ margin: 0;}

.loading{
  @include flex(row, center, center);
  padding: 1em;
  .spinner-border{
    width: 60px;
    height: 60px;
    color: var(--clr-primary);
  }
}


.reply{
  border-radius: 25px;
  background: #f5f5f5;
  margin-top: .5em;

  &__form{
      @include flex(row, flex-start, center);
      padding: .2em .5em;
  }

  &__input{   
      width: 100%;
      border: none;
      background: none;
  }

  &__button{
      background: var(--clr-primary);
      color: #fff;
      transform: scale(.8);

  }
}


.assign{
  @include flex(column, center, flex-start);
  position: relative;
  z-index: 1;

  hr{margin: 0;}
  strong{ font-size: .8rem;}
  

  &__label{
      font-weight: 600;
      font-size: .8rem;
      color: #222;
      margin: 1em 0 1em;
  }

  &__work{
      width: 100%;
      background: #fff;
      border-radius: .5em;
      box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.02),
      0 6.7px 5.3px rgba(0, 0, 0, 0.028),
      0 12.5px 10px rgba(0, 0, 0, 0.035),
      0 22.3px 17.9px rgba(0, 0, 0, 0.042),
      0 41.8px 33.4px rgba(0, 0, 0, 0.05),
      0 100px 80px rgba(0, 0, 0, 0.07)
    ;
      z-index: 2;
  }

  &__workhead{
      @include flex(row, flex-start, center);
      padding: 1em;
      gap: .5em;
      span{ font-weight: 700;}
  }

  &__action{
      padding: .5em 1em;
      button{
          width: 100%;
          padding: .2em 0;
          font-size: .9rem;
          margin: .5em 0;
      }
  }

  &__studentwork{
      @include flex(row, space-between, flex-start);
      padding: .5em 1em;
      h5{
          font-weight: 500;
          margin: 0;
      }
      label{
          font-weight: 600;
          font-size: .9rem;
          span{
              font-weight: 400;
          }
      }
      p{
          font-size: .9rem;
      }
  }

  &__listnone{
    mat-icon{
      transform: rotate(180deg);
    }
  }


  &__filecontain{
      padding: .5em 1em;
  }

  &__content{ width: 100%; }

  &__fulldetails, &__forms{
      background: #fff;
      padding: 1em;
      border-radius: .5em;
      box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.02),
      0 6.7px 5.3px rgba(0, 0, 0, 0.028),
      0 12.5px 10px rgba(0, 0, 0, 0.035),
      0 22.3px 17.9px rgba(0, 0, 0, 0.042),
      0 41.8px 33.4px rgba(0, 0, 0, 0.05),
      0 100px 80px rgba(0, 0, 0, 0.07)
    ;
  }

  &__forms{
      @include flex(row, flex-start, center);
      margin-top: 1em;
      gap: 1em;
      width: 100%;

      img{
          width: 35px;
          height: 35px;
          border-radius: 50%;
      }

      input{
          width: 100%;
          border: none;
          outline: none;
      }
  }

  &__img{
      // width: 80px;
      // height: 80px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
  }

  &__details{
      padding: 1em 0  ;
      h3{
          font-size: 1.2rem;
          font-weight: 600;
          color: var(--clr-primary);
      }
      label{
          font-size: .8rem;
          color: #222;
          font-weight: 600;
          span{
            font-weight: 400;
          }
      }
  }
  

  &__description{
      margin-top: 1em;
      font-size: .9rem;
      line-height: 1.8;
  }

  &__commentheader{
      @include flex(row, space-between, flex-start);
      width: 100%;
      margin-bottom: .5em;

      img{
          width: 40px;
          height: 40px;
          border-radius: 50%;
      }
  }

  &__commentinfo{
      @include flex(row, flex-start, flex-start);
      gap: .5em;
      width: 100%;
      margin-bottom: .5em;
      small{
          font-size: .7rem;
          color: #626262;
      }

      img{
          width: 30px;
          height: 30px;
      }

  }

  &__name{
      margin: 0;
      font-size: .8rem;
      font-weight: 600;
  }

  &__icons{
      margin-top: -5px;
      position: absolute;
      right: 0;
  }



  &__commentscontent{
      margin: .5em 0;
      font-size: .9rem;
      word-break: break-all;
      padding: .5em 0;
      width: 100%;
      border-bottom: 1px solid #d1d1d1;
  }

  &__user{
    width: 100%;
    line-height: 1.4;
  }

 

  &__replycontain{
      @include flex(row, center, center);
      background: none;
      border: none;
      padding: 0;
      font-size: .7rem;
      transition: all .2s;
      mat-icon{
        transform: scale(.8);
      }
      &:hover{
          color: var(--clr-primary);
         
      }
  }

}

section{
  padding: 1em;
  max-height: 70vh;
  overflow-y: scroll;
}

section::-webkit-scrollbar{
  width: 1%;
}

.comment{
  max-height: 10vh;
  padding:  0 0 1em;
  &__forms{
    @include flex(row, flex-start, center);
    gap: 1em;
    width: 100%;
    padding: 1em 1em 0;

    img{
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }

    input{
        width: 100%;
        border: none;
        outline: none;
    }
}
}


.replyedit{
  margin-top: .5em;
  &__form{
    @include flex(row, flex-start, center);
    border-radius: 25px;
    background: #f5f5f5;
    padding: 0 .5em;
  }

  &__input{
    width: 100%;
    border: none;
    background: none;
  }

  &__action{
    @include flex(row, flex-start, center);

  }

  &__button{
    background: var(--clr-primary);
    color: #fff;
    transform: scale(.8);

  }
}

.replies{
  &__header{
      @include flex(row, flex-start, flex-start);
      position: relative;
      gap: 10px;
      margin: .5em 0;

      img{
        margin-top: 10px;
      }
  }

  &__img{
    width: 10px;
    height:10;
    border-radius: 50%;
  }

  &__name{
    margin: 0;
    font-weight: 600;
    font-size: .8rem;
  }

  &__icons{
    position: absolute;
    right: 0;
    top: .5em;
  }

  &__commentscontent{
    word-break: break-all;
    font-size: .9rem;
    padding: .5em 0;
    width: 100%;
    margin: 0;
  }

  &__user{
    width: 100%;
  }

  &__details{
    background: #f5f5f5;
    line-height: 1.2;
    padding: .5em;
    border-radius: .5em;
    small{
      font-size: .7rem !important;
    }
  }
  
}


.edit{
    @include flex(row, flex-start, center);
    width: 100%;
    margin: 0 0 1em;
    gap: .5em;

    img{
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }

    input{
      width: 100%;
      border: none;
      background: none;
    }

    button[type = submit]{
        background: var(--clr-primary);
        color: #fff;
        transform: scale(.8)
    }

    &__details{
      @include flex(row, space-between, center);
      width: 100%;
      background: #f5f5f5;
      padding: .5em 1em;
      border-radius: 25px;
    }

    &__action{
      @include flex(row, flex-start, center);
    }
}





@media screen and(min-width: 1300px) {

  header{
    padding: 1em 1.5em;
    h6{
      margin: 0;
    }
  }


  section{
    padding: 1em  1.5em;
  }


  .assign{
      &__work{
          width: 60%;
      }

      &__fulldetails, &__workhead{
        padding: 1.5em;
      }

   

      &__studentwork, &__filecontain, &__action{
        padding: .5em 1.5em;
      }

      &__details{
        h3{
            font-size: 1.4rem;
            margin-bottom: .5em;
        }
        label{
            font-size: .9rem;
        }
      }
      &__description{
        font-size: 1rem;
        line-height: 1.8;
      }


      &__commentinfo{
        margin-bottom: .5em;
        small{ font-size: .8rem; }

        img{
            width: 40px;
            height: 40px;
        }

      }

  }


  

  .edit{
    @include flex(row, space-between, center);
    width: 100%;

    img{
      width: 40px;
      height: 40px;
    }
   
  }
}