<div class="main__container">
    <div #videoTilesElementContainer class="videotiles__container">
        <app-video-player
            *ngIf="localStream"
            [mode]="'owner'"
            [stream]="localStream"
            [userPeerId]="null">
        </app-video-player>
        <app-video-player
            *ngFor="let user of joinedUsers"
            [stream]="user.stream"
            [userPeerId]="user.peerId"
            [participants]="participants">
        </app-video-player>
    </div>
    <div class="buttons__container">
        <button matTooltip="Turn on/off microphone" mat-icon-button>
            <mat-icon>mic</mat-icon>
        </button>
        <button matTooltip="Turn on/off camera" mat-icon-button>
            <mat-icon>videocam</mat-icon>
        </button>
        <button matTooltip="End call" mat-icon-button class="danger--btn" (click)="endCall()">
            <mat-icon>call_end</mat-icon>
        </button>
        <button matTooltip="Participants" [matBadgeHidden]="hidden" mat-icon-button matBadge="{{participants.length}}" matBadgePosition="after" matBadgeColor="accent" (click)="participantsDialog()">
            <mat-icon>people</mat-icon>
        </button>
    </div>
</div>

