<header>
  <div class="head">
    <div class="head__icon">
      <mat-icon>account_circle</mat-icon>
    </div>
    <h5 class="mb-0">Change Password</h5>
  </div>
  <button [disabled]="_user.isLoading()" [mat-dialog-close]="undefined" mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</header>

<section class="instruct">
  <p>1. The password must contain at least 8 characters. <br>
    2.The password must contain all of the following combinations:
    <strong>digits, uppercase letters, lowercase letters</strong>.
  </p>
</section>
<!-- Must contain at least one number, one uppercase and lowercase letter, one special character (@ $ ! % * ? & _), and at least 9 characters -->
<!-- pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&_])[A-Za-z\d@$!%*?&_]{9,}$" -->
<form class="chpass" [formGroup]="firstFormGroup" ngNativeValidate>
  <div class="changepass">
    <mat-form-field style="width: 100%; margin-bottom: .5em;" appearance="fill">
      <mat-label>Birthdate</mat-label>
      <input matInput type="date"  formControlName="bdate" required>

    </mat-form-field>

    <mat-form-field style="width: 100%; margin-bottom: .5em;" appearance="fill">
      <mat-label>Current Password</mat-label>
      <input matInput [type]="hide1 ? 'text' : 'password'" autocomplete="current-password" formControlName="current"
        required>
      <mat-icon (click)="hide1 = !hide1" *ngIf="!hide1; else showpass1" matSuffix>visibility</mat-icon>

      <ng-template #showpass1>
        <mat-icon (click)="hide1 = !hide1" matSuffix>visibility_off</mat-icon>
      </ng-template>
      <mat-error *ngIf="firstFormGroup.controls.current.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>


    <mat-form-field style="width: 100%; margin-bottom: .5em;" appearance="fill">
      <mat-label>New Password</mat-label>
      <input matInput autocomplete="new-password" [type]="hide2 ? 'text' : 'password'" formControlName="newpass"
        (ngModelChange)="passwordTest($event)" required>
      <mat-icon (click)="hide2 = !hide2" *ngIf="!hide2; else showpass2" matSuffix>visibility</mat-icon>

      <ng-template #showpass2>
        <mat-icon (click)="hide2 = !hide2" matSuffix>visibility_off</mat-icon>
      </ng-template>
      <mat-error *ngIf="firstFormGroup.controls.newpass.invalid">{{ getErrorMessage() }}</mat-error>
      <mat-hint> Password strength: <span id="displaystyle"> {{ passwordStatus }} </span> </mat-hint>
    </mat-form-field>



    <mat-form-field style="width: 100%; margin-bottom: .5em;" appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input matInput autocomplete="new-password" [type]="hide3 ? 'text' : 'password'" formControlName="confirmpass"
        required>
      <mat-icon (click)="hide3 = !hide3" *ngIf="!hide3; else showpass3" matSuffix>visibility</mat-icon>

      <ng-template #showpass3>
        <mat-icon (click)="hide3 = !hide3" matSuffix>visibility_off</mat-icon>
      </ng-template>
      <mat-error *ngIf="firstFormGroup.controls.confirmpass.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
  </div>
  <div class="action">
    <button *ngIf="!_user.isLoading()" type="button" [mat-dialog-close]="undefined" mat-flat-button
      class="mat-btn btn-cancel">Cancel</button>
    <button [style]="firstFormGroup.invalid ? 'cursor: not-allowed' : ''" mat-flat-button class="change-pass-btn"
      [disabled]="firstFormGroup.invalid" (click)="Changepassword()">
      {{ _user.isLoading() ? 'Updating...' : 'Update'}}
    </button>
  </div>
</form>
