<div class="main-container">
    <header>
      <div class="d-flex align-items-center page-title">
          <h2>File Downloads</h2>
          <div class="icon-contain">
              <mat-icon class="icon">get_app</mat-icon>
          </div>
      </div>
    </header>

 




  
    <div class="lines">
        <strong>Other files</strong>
        
    </div>

    <section class="class-container">
      
        <a class="card-layout" href="https://gces.gordoncollege.edu.ph/documents/faRmFjdWx0eURvd25sb2FkcwUltY/GCForm-010-App-for-Change-of-Grades.docx" download="Change-of-Grades" target="_blank"> 
            <div class="icon-box" style="color: #34ace0">
                <strong style="margin-top: 5px;">Docx</strong>
                <mat-icon  class="material-icons-outlined" >insert_drive_file</mat-icon>
            </div>
            <h4>GCForm 010 - Change of Grades</h4>
        </a>

        <a class="card-layout" href="https://gces.gordoncollege.edu.ph/documents/faRmFjdWx0eURvd25sb2FkcwUltY/GCForm-010a-App-for-Change-of-Grades.docx" download="Change-of-Grades" target="_blank"> 
            <div class="icon-box" style="color: #34ace0">
                <strong style="margin-top: 5px;">Docx</strong>
                <mat-icon  class="material-icons-outlined" >insert_drive_file</mat-icon>
            </div>
            <h4>GCForm 010a - Change of Grades</h4>
        </a>
       
    </section>

</div>
