<header>
    <div class="title">
      <mat-icon class="icon">edit_off</mat-icon>
      <strong>Meeting List</strong>
    </div>
    <div class="action-button">
      <button class="btn-1 btn-sep " mat-flat-button>
        <mat-icon>videocam</mat-icon> Create Meeting
      </button>
    </div>
    
</header>
<div class="class-container" *ngIf="meetingObj != []">
    <div class="maincontent__container">
        <div class="wickedbackground">
            <p>Student's Profile</p>
        </div>
        <div class="main__content">
            <mat-card class="meetinfo__container mat-elevation-z4">
                <div class="meet__info">
                    <h4 class="meet__name">Meeting ID: 123456789</h4>
                    <p class="meet_schedule">04:00PM - 06:00PM</p>
                </div>
            </mat-card>
            <div class="profile__info">
                <div class="profile">
                    <h4>Meeting Details</h4>
                    <div class="divider"></div>

                    <div class="userinfo__container">
                        <span>04:00PM - 06:00PM</span>
                        <span>Meeting Link : 2312323123123213231323</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-container *ngIf="meetingObj === 0">
    <div class="text-center mt-5">
      <div><strong>No meetings found! ⌛</strong></div>
      <div class="p-3">
        <span style="color: #000; font-size: smaller;">Create a meeting to your class</span>
      </div>
    </div>
</ng-container>
