<div class="main-container">
  <header class="header">
    <div class="header__title-container">

      <div class="header__main">
        <h1 class="header__title">News and Events</h1>
        <div class="header__icon-contain">
          <mat-icon class="icon">campaign</mat-icon>
        </div>
      </div>
      <small>Get the latest News and Updates </small>
    </div>
  </header>


  <div class="load" *ngIf="showLoader" >
    <app-loadingscreen class="load__cons"></app-loadingscreen>
  </div>

  <ng-container *ngIf="showLoader == false && announcements.length == 0">
    <div class="center-item">
      <h2 >No announcements</h2>
    </div>
  </ng-container>

  <div class="" *ngIf="announcements.length != 0">
    
    
    <strong class="line">Latest News</strong>


    <section class="latest">
        <div class="latest__details">
          <div class="latest__header-news">
            <h2 class="latest__title" (click)="viewAnnouncement(0)">{{latest['title_fld']}}</h2>
            <div class="d-flex align-items-center mt-1 latest__date">
              <mat-icon>calendar_today</mat-icon>
              <small>
                {{_upload.getElapsedTime(latest['datetime_fld'])}}
              </small>
            </div>

          </div>
          <p class="latest__content" (click)="viewAnnouncement(0)">{{latest['content_fld']}}</p>
          <div class="d-flex align-items-center">
            <button class="latest__btn" type="button" (click)="viewAnnouncement(0)">
              <p>Read more</p>
              <mat-icon>chevron_right</mat-icon>
            </button>

          </div>
        </div>
        <div class="latest__img">
          <img appLazyLoad draggable="false" [src]="_ds.fileUrl + latest['imgdir_fld']" alt="image"
            onerror="this.onerror=null;this.src='assets/images/noimage.png'">
        </div>
    </section>


    <div class="newsact">
      <strong class="line">Other News</strong>
      <!-- <div class="input-box">
        <input (keyup)="filterlist()" [(ngModel)]="filter" type="text" placeholder="Search here...">
        <button mat-flat-button>
          <mat-icon>search</mat-icon>
        </button>
      </div> -->
    </div>

    <div class="announce">
      <div *ngFor="let item of announcements; let i = index">
        <div class="announce__card">
          <div class="announce__img">
            <img appLazyLoad draggable="false" [src]="this._ds.fileUrl + item.imgdir_fld" alt="image"
              onerror="this.onerror=null;this.src='assets/images/noimage.png'">
          </div>
          <div class="announce__details">
            <div class="announce__header">
              <div class="d-flex align-items-center mt-1 announce__date">
                <mat-icon>calendar_today</mat-icon>
                <small>{{ item.datetime_fld | date: 'MMMM d yyyy' }}</small>
              </div>
              <h1 class="announce__title" (click)="viewAnnouncement(i)">{{item.title_fld}}</h1>
            </div>
            <p class="announce__content">{{ item.content_fld}}</p>
            <div class="d-flex align-items-center justify-content-between">
              <button (click)="viewAnnouncement(i)" class="announce__btn" type="button">
                <p>Read more</p>
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>