<div class="wrapper">
  <ng-container *ngFor="let an of announcement; let i = index">

    <section class="news">
      <div class="news__header">
        <button style="background-color: var(--btn-primary);" class="news__back" [routerLink]="['/main/news']" mat-icon-button>
          <mat-icon>arrow_back</mat-icon>
        </button>
        <strong>Back</strong>
      </div>

      <img class="news__img" appLazyLoad draggable="false" appLazyLoad [src]="getimg()" alt="image"
            onerror="this.onerror=null;this.src='assets/images/noimage.png'">


      <div class="news__fullcontent">
        <strong class="news__depart">{{ an.recipientcode_fld }}</strong>
        <h1 class="news__title">{{an.title_fld}}<br>
          
          <!-- <button (click)="opencomment()" class="news__comments mt-2" mat-stroked-button>
            <mat-icon>chat</mat-icon>
            <span class="ms-1">
              View comment(s)
              {{ item.commentcount > 0 ? item.commentcount + ' comments' : 'No comments yet' }}
            </span>
          </button> -->
        </h1>
        <span class="news__date">
          <mat-icon>event</mat-icon>  {{ an.datetime_fld | date: 'MMM dd, yyyy h:mm a' }}
        </span>

        <hr>

        <p class="news__content-body" [innerHtml]="an.content_fld | linkify"></p>
      </div>
    </section>

    <section class="others ">
      <h2 class="others__news">Other News</h2>
      <ng-container *ngFor="let num of randomannounce; let i = index">
        <div (click)="viewAnnouncement(num)" class="others__newscontain" >
          <div class="others__imgcontain">
            <img appLazyLoad draggable="false" [src]="_ds.fileUrl + num.imgdir_fld" alt="image"
              onerror="this.onerror=null;this.src='assets/images/noimage.png'" class="others__img">
          </div>
          <div class="others__maintitle">
            <strong class="others__depart">{{ num.recipientcode_fld }}</strong>
            <h3 class="others__title">{{ num.title_fld }}</h3>
            <small class="others__content">{{num.datetime_fld | date: 'MMM dd, yyyy h:mm a'}}</small>
          </div>
        </div>

      </ng-container>
    </section>
  </ng-container>
</div>