@import "src/app/scss/__mixin.scss";
  
  
  section{
      width: 100%;
      position: relative;
      margin: 1em 0;
      background: #fff;
      border-radius: .5em .5em 0 0;
      box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.02),
      0 6.7px 5.3px rgba(0, 0, 0, 0.028),
      0 12.5px 10px rgba(0, 0, 0, 0.035),
      0 22.3px 17.9px rgba(0, 0, 0, 0.042),
      0 41.8px 33.4px rgba(0, 0, 0, 0.05),
      0 100px 80px rgba(0, 0, 0, 0.07)
    ;
  }
  .center-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    height: 20rem;
  }
  
  .todolist{
    @include flex(row, flex-start, flex-start);
    padding: .5em 1em;
    width: 100%;
    gap: 1.5em;

    &__name{
      @include flex(row, space-between, center);
      width: 100%;
    
    }
  }

  .taskheader{
    background-image: linear-gradient(37deg, #0b8df1,var(--clr-primary));
    border-radius: .5em .5em 0 0;
    padding: 1em;
    color: #fff;
    h6{
      font-weight: 600;
      font-size: var(--reg-font-size);
      line-height: 1.6;
    }
  }


  .panel-list{
    @include flex(row, flex-start, flex-start);
    gap: 1em;
    border-bottom: 1px solid #ececec;
    position: relative;
    z-index: 0;
    cursor: pointer;
    outline: none;
    padding: 1em;
    p{ margin: 0; margin-bottom: .5em;}
    .legend{ 
      margin-top: .3em;
      margin-left: 10px;
    }
    .line{
      position: absolute;
      top: 50%;
      transform: translate(0,-50%);
      left: 0;
      width: 3px;
      height: 40px;
      background: var(--btn-edit);
      opacity: 0;
      transition: all .3s ease;
    }
    small{ font-weight: 800; font-size: var(--sm-font-size);}
    .points{ 
      padding: 0 15px;
      font-size: var(--sm-font-size);
      border-radius: 25px;
      font-weight: 500;
      text-align: left !important;
    }
    .file{
      @include flex(row, flex-start, center);
      mat-icon{
        transform: scale(.8)
      }
    }
    .date{
      @include flex(row, flex-start, center);
      mat-icon{ transform: scale(0.8);}
    }
  }
  
  .panel-list:hover {
    z-index: 2;
  }
  
  .panel-list:hover .line {
    opacity: 1;
    left: -15px;
    transition-delay: .1s;
  }
  .panel-list:nth-child(2n){
    background: #f6f6f6;
  }

  .activityheader{
    width: 100%;
    h6{
      font-weight: 500;
      line-height: 1.6;
      margin: 0;
      font-size: var(--reg-font-size);
    }
    p{ color: #626262; font-size: var(--sm-font-size);  }

    &__action{
      @include flex(row, flex-start,center);
      gap: 1em;

      .desktop{
          display: none;
      }
     
    }
  }



  @media screen and(min-width: 1200px){
    .panel-list{
      padding: 1em 1.2em;
      gap: 1.5em;
    }
    .activityheader{
      @include flex(row, space-between, center);

      h6{
        width: 100%;
      }
        
      &__action{
        @include flex(row, space-between, center);
        width: 40%;
        gap: 1.5em;

        .desktop{
            display: block;
            width: 200px;
        }
        .mobile{
          display: none;
        }
      }
    }
  }

  @media screen and(min-width: 1600px){
    .activityheader{
      
      h6{
        width: 95%;
      }
      &__action{
        width: 30%;
      }
    }
  }