.maincontent__container {
    /* border: 2px solid red; */
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    height: 100%;
    padding: 20px;
}


.meeting-form {
    /* border: 2px solid blue; */
    flex-grow: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-basis: 65%;
    background-color:#f3f4f6;
    border-radius: 10px;
}

.meeting-form p:first-of-type {
    margin: 0;
}

.mrgntop-0 {
    margin-top: 0;
}

.mrgntop-10 {
    margin-top: 1rem;
}

.mrgnbtm-10 {
    margin-bottom: 1rem;
}

.mediumfont {
    font-size: 1.25rem;
    font-weight: 800;
    color: #0166B3;
}

.guest__container {
    /* border: 2px solid green; */
    flex-grow: 1;
    padding: 1rem;
    max-width: 100%;
    flex-basis: 35%;
    background-color: #f3f4f6;
    border-radius: 10px;
}

.flex__container {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.align-start {
    align-self: flex-start;
}

.option-buttons button:first-of-type{
    margin-right: 10px;
}

.flex-grow {
    flex-grow: 1;
}

.meeting__title {
    font-size: 1.75rem;
}

.mat-flat-button {
    background-color: #0166B3;
    color: #FFF;
}

.mat-stroked-button {
    border-color: #0166B3;
}

.mat-icon-button:hover {
    background-color: #d6d6d6;
}

.flex__participant {
    display: flex;
    gap: 10px;
}

.participant__container{
    max-height: 50rem;
    overflow: scroll;
    overflow-x: hidden;
}

.flex__participant p {
    margin: 0;
}

.flex__participant img {
    max-width: 100%;
    height: fit-content;
    border-radius: 50%;
    align-self: center;
}

.guest__container {
    display: flex;
    flex-direction: column;
}

.meeting-form mat-form-field {
    max-width: 100%;
    flex: 1;
}

.participant__text {
    padding: 5px 0;
    flex-grow: 1;
    font-size: 0.875rem;
    word-break: break-all;
}

.remove-btn {
    background-color: #EE4B2B;
    width: 100%;
}

.remove-btn:hover {
    background-color: #a7351e;
}

button {
    height: fit-content;
}

mat-icon {
    color: #0166B3;
}

.pagination-container {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin-top: 1rem;
}

::ng-deep.my-pagination .ngx-pagination .current {
    background: #0166B3;
    border-radius: 5px;
}


@media screen and (max-width: 800px) { 
    .maincontent__container {
        max-width: 100%;
        flex-direction: column;
    }

    .participant__text p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
        -o-text-overflow: ellipsis;
        max-width: 90%;
    }

    .meeting-link {
        font-size: 0.875rem;
        word-break: break-all;
    }

    .participant__container{
        max-height: 25rem;
    }
}

@media screen and (max-width: 1024px) { 
    .maincontent__container {
        max-width: 100%;
    }
}